@model MD4_SQL.Data.CourseDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Teacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.Teacher.FullName)
        </dd>
    </dl>
</div>

<div>
    @if (Model.Assignments != null && Model.Assignments.Any())
    {
        <h4>Assignments</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Assignments.First().Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assignments.First().Deadline)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Assignments)
                {
                    <tr>
                        <td>
                            <a asp-action="Edit" asp-controller="Assignments" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.Description)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Deadline)
                        </td>
                        <td>
                            <!-- Details doesn't open -->
                            <a asp-action="Details" asp-controller="Assignments" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-controller="Assignments"  asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No assignments available</p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Course.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
